@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Chandan Kumar<br />
   7608 Garnett Street<br />
    <abbr title="Phone">P:</abbr>
    +1 9138320216
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Chandan@example.com">Chandan@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Chandan.Marketing@example.com">Chandan.Marketing@example.com</a>
</address>